extends layout

block content
    div(class='row')
    div(class='main')
      h3 최신 Survey
      hr(class='line')
      table(class='table table-striped')
        thead
        tr
          th 
            b 설문제목
          th
            b 학부
          th
            b 작성일자
        each item in result
          tr
            td 
              a(href=item.form.url) #{item.form.data.title}
            td #{item.department.name}
            td #{item.form.date}
      br
      br
      br
      h3 학부 Survey
      hr(class='line')
      table(class='table table-striped')
        thead
        tr
          th
            b 설문제목
          th
            b 학부
          th
            b 작성일자         
        - var i = 0;
        while i < 5
          tr
            td
              a(href=dep_result[i].url) #{dep_result[i].data.title}
            td #{department.name}
            td #{dep_result[i].date}
          - i++;
