extends layout2

block content
    div(class='row')
      div(class='main')
        h3 #{department.name}
        hr(class='line')
        table(class='table table-striped')
          thead
          tr
            th
              b 설문제목
            th
              b 학부
            th
              b 작성일자
          each item in form
            - var date = new Date(item.date);
            tr
              td
                a(href=item.url) #{item.data.title}
              td #{department.name}
              td #{date.toDateString()}
