extends layout

block content
    div(class='row')
    div(class='main')
      h2 나의 정보
      div(class='board')
        h5 * 이름: #{userinfo.name}
        h5 * 학부: #{department.name}
        h5 * 학년: #{userinfo.grade}
        h5 * 내가 참여한 설문 개수: #{num_res}
        h5 * 내가 작성한 설문 개수: #{num_form}
      br
      br
      h2 내가 참여한 설문
      hr(class='line')
      table(class='table table-striped')
        thead
        tr
          th
            b 설문제목
          th
            b 학부
          th
            b 작성일자
        each item in result
          tr
            td
              a(href=item.form.url) #{item.form.data.title}
            td #{item.department.name}
            td #{item.form.date}

      br
      br
      br
      h2 내가 작성한 설문
      hr(class='line')
      table(class='table table-striped')
        thead
        tr
          th
            b 설문제목
          th
            b 학부
          th
            b 작성일자
          th
            b Result
          th
            b Delete
        each item in form
          tr
            td
              a(href="/edit/"+item._id) #{item.data.title}
            td #{department.name}
            td #{item.date}
            td
              a(class="w3-bar-item w3-button" href="/result/"+item._id) Result
            td
              a(class="w3-bar-item w3-button" href="/delete/"+item._id) Delete

